@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Merriweather&family=Montserrat&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f58cd;
}

.logo {
  position: absolute;
  color: #fff;
  top: 7%;
  z-index: 99;
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
}
.logo:hover {
  cursor: pointer;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
}
.signup {
  margin-top: 25px;
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

.form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  border-radius: 6px;
}
.field input,
.field button {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  padding: 0 15px;
  outline: none;
  border: 1px solid #cacaca;
}
.field input {
  border-bottom-width: 2px;
}
.eye-icon {
  position: absolute;
  font-size: 18px;
  color: #8b8b8b;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px;
}
.field button {
  transition: all 0.3s ease;
  background-color: #0171d3;
  color: #fff;
  cursor: pointer;
}
.field button:hover {
  background-color: #016dcb;
}
.form-link {
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.form a {
  text-decoration: none;
  color: #0171d3;
}
.form a:hover {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #d4d4d4;
  margin: 36px 0;
}
.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}
.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
a.google {
  border: 1px solid #cacaca;
}
a.google span {
  color: #000;
  font-weight: 500;
  opacity: 0.6;
  font-size: 20px;
  text-decoration: none;
}
.media-options a span {
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .form {
    padding: 15px 10px;
    margin-top: 30px;
  }
}
